@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
html,
body {
	overflow-x: hidden;
}
* {
	scrollbar-color: dark;
}
*::selection {
	@apply bg-bg-red;
}
.dark-mode {
	@apply bg-bg-black;
}
a {
	@apply text-red;
}
.dark-mode a,
.dark-mode li a,
.dark-mode h1 a,
.dark-mode h2 a,
.dark-mode h3 a,
.dark-mode h4 a,
.dark-mode h5 a {
	@apply text-white;
	@apply bg-bg-red;
}
p code,
li code {
	@apply bg-bg-red;
	@apply text-white;
	color: rgb(230, 230, 230) !important;
	font-weight: 200 !important;
}
p code::before,
p code::after,
li code::before,
li code::after {
	content: "" !important;
}

a:hover {
	@apply underline;
}
.dark-mode button {
	@apply text-white;
}
span,
p {
	@apply font-light;
}
.dark-mode p,
.dark-mode span,
.dark-mode footer {
	@apply text-gray-400;
}

p span.block img {
	margin-bottom: .3rem !important;
}

p span.block span {
	margin-top: 1rem !important;
}
.dark-mode p span.block span {
	@apply bg-bg-red;
}

.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6 {
	@apply text-gray-200;
}
.dark-mode article h1,
.dark-mode article h2,
.dark-mode article h3,
.dark-mode article h4,
.dark-mode article h5,
.dark-mode article h6 {
	@apply text-gray-200;
}

.dark-mode p strong,
.dark-mode p i,
.dark-mode ul strong,
.dark-mode p a {
	@apply text-gray-200;
}
.dark-mode ul {
	@apply text-gray-400;
}
.blur-up {
	-webkit-filter: blur(5px);
	filter: blur(5px);
	transition: filter 500ms ease-in, -webkit-filter 500ms ease-in;
}

.blur-up.lazyloaded {
	-webkit-filter: blur(0);
	filter: blur(0);
}
